// COLOR-primary
$color-oval-yellow: #fcb72b;
$color-h1-dark-navy: #495567;
$color-p-dim-grey: #939caa;
$color-logobg-gray: #e5ecf4;
$color-snow: #f2f5f9;
$color-light-yellow: #fff4df;
$color-white: #ffffff;
$color-body-bg: #f2f2f2;
$link-color: #939caa;
$footer-bg-color: #333a44;

// FONTS
$font-space-mono: "Space Mono";
$font-lexend-deca: "Lexend Deca";
$btn-padding: 1.1rem 3.7rem;

// h-wrapper-size+height
$h1-size: 5.6rem;
$h1-height: 5.6rem;
$h2-size: 4.8rem;
$h2-height: 4.8rem;
$h3-size: 4rem;
$h3-height: 4.8rem;
$h4-size: 2.4rem;
$h4-height: 2.8rem;

$today-size: 2rem;
$today-height: 2.4rem;
//h-letter-spacing
$h1-letter-spacing: -2.5px;
$h2-letter-spacing: -2.14286px;
$h3-letter-spacing: -1.78571px;
$h4-letter-spacing: -1.07143px;
$today-letter-spacing: -0.892857px;

// p-description-size+height
$p-size: 1.5rem;
$p-height: 2.5rem;
