.location {
  .container {
    img {
      width: 111rem;
      height: 54.3rem;
      margin-bottom: 12.2rem;
    }
  }
}

.city {
  .container {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 12rem;
    H2 {
      width: 35.1rem;
      @include easy-h2;
      text-align: left;
    }
    p {
      text-align: left;
      @include global-p;
      width: 44.5rem;
    }
  }
  .btn {
    padding: 1.4rem 4.4rem;
    // @include global-p;
    // color: $color-white;&:active{
    //   background: ;
    // }
  }
}
